In [13]:
# 时间序列
from datetime import datetime

now = datetime.now()

stamp = datetime(2016, 10, 1)
# stamp.strftime("%y-%d-%m")

longer_ts = Series(np.random.randn(1000), 
                  index=pd.date_range('1/1/2000', periods=1000))

'16-01-10'

In [28]:
df1 = DataFrame({'key1': ['b','b','a','c','a','a','b'],
                 'data1': range(7)})
df2 = DataFrame({'key2': ['a','a','b','d'],
                 'data2': range(4)})

pd.merge(df1, df2, left_on='key1', right_on='key2', how='right')

   data1 key1  data2 key2
0    0.0    b      2    b
1    1.0    b      2    b
2    6.0    b      2    b
3    2.0    a      0    a
4    4.0    a      0    a
5    5.0    a      0    a
6    2.0    a      1    a
7    4.0    a      1    a
8    5.0    a      1    a
9    NaN  NaN      3    d

In [3]:
# data = Series(np.random.randn(10),
#              index=[['a','a','a','b','b','c','d','d','e','f'],
#                     [1,2,3,1,2,1,1,2,1,1]])

# print data
# print data.ix['a',3]
# data.unstack() 

Frame = DataFrame(np.arange(12).reshape((4,3)),
                  index=[['a','a','b','b'],[1,2,1,2]],
                  columns=[['Ohio','Ohio','Colorado'],
                           ['Green','Red','Green']])

Frame.index.names = ['key1', 'key2']
Frame.columns.names = ['state', 'color']

In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
x = np.arange(10).reshape(5, 2)
x = DataFrame(x, columns=['year', 'name'], index=['a', 'b', 'c', 'd', 'e'])
# print x['year']
# print x[2]
print x.ix[:2,1]
print x[0:2]
# print x.get_value('year','a')

a    1
b    3
Name: name, dtype: int64
   year  name
a     0     1
b     2     3